html, body, #container {
    min-height: 100%;
    width: 100%;
    height: 100%;
}
/*
 * The "height" above is a hack for IE5+/Win.  Below we adjust
 * it using the child selector to hide from IE5+/Win
 */

html>body, html>body #container {
    height: auto;
}

body {
    margin: 0;
    min-height: 100%;
    color: white;
    font-family: sans-serif;
    font-size: 11pt;
    background: #369 url(img/mazewarpblue.png);
}

#banner {
    margin: 0;
    padding: 1em;
    padding-left: 20em;
}

#banner h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

#nav {
    float: left;
    width: 13em;
    margin: 0 1em;
    padding: 0;
}

#nav ul {
    margin: 0;
    padding: 0;
    background: #ccc url(img/blur_grey.jpg) top right repeat-y;
}

#nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    border: 0;
}

#nav li a {
    display: block;
    margin: 0;
    padding: 2px 0.75em;
    text-decoration: none;
    font-weight: bold;
    border-top: 1px solid black;
    border-left: 1em solid #444;
    border-bottom: 0px;
    color: black;
    width: 100%;
}
#nav a.nav {
    background: #fff url(img/blur.jpg) top right repeat-y;
}
#nav a.subnav {
    background: #ccc url(img/blur_grey.jpg) top right repeat-y;
}
#nav a.nav:link { color: #14b; }
#nav a.nav:visited { color: #14b; }
#nav a:hover {
    border-color: #222;
    background: #ccc url(img/blur_grey.jpg) top right repeat-y;
}

#nav a.active {
    border-left-color: #c00;
    color: black;
}
#nav a.active:hover {
    border-left-color: #c00;
    background: #fff url(img/blur.jpg) top right repeat-y;
}

html>body #nav li a {
    width: auto;
}

#themer {
    margin-left: 16em;
    margin-right: 1em;
    margin-bottom: 0;
    padding: 0;
    display: none;
}

#themer a {
    margin: 0;
    margin-right: 0.3em;
    padding: 0.3em;
    background: #ccc url(img/mazewarpbig.jpg);
    border: 1px solid #666;
    border-bottom: 0;
    text-decoration: none;
}

#themer a.active_theme {
    background: #eee;
}

#content_container {
    margin: 0em 1em 1em 16em;
    padding: 0;
    max-width: 650px;
    color: black;
}

#content {
    margin:0;
    padding: 1em 1em 1em 2em;
    background: #ccc url(img/mazewarpbig.jpg);
}

#content div {
    margin: 0;
    padding: 0;
}

#content h2, h3 {
    margin-top: 0;
    padding-top: 0;
}

.groupname {
}

.item {
}

.itemname {
    font-size: 150%;
}

.itemdesc {
    font-size: 120%;
    padding-top: 0.5em;
}

.item img {
    margin: 0.5em 0;
    border: 1px solid #aaa;
}

#versiontag {
    width: auto;
    margin: 0;
    padding: 0.3em 0.5em;
    font-size: small;
    float: right;
    color: black;
    background: #ccc url(img/mazewarpbig.jpg);
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#tagline {
    position: fixed;
    left: 0.5em;
    bottom: 0.5em;
    margin: 0;
    padding: 0;
    width: 10em;
    width: auto;
    font-size: small;
    opacity: 0.75;
    filter: alpha(opacity=75);
}

#tagline p, #tagline a {
    margin: 0;
    padding: 0;
    color: white;
}
